<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add User</title>
</head>

<body>
  <header>
    <nav >
      <ul>
        <li><a href="/">Users</a></li>
        <li><a class="active" href="/admin/add-user">Add User</a></li>
      </uleader>

  <main>
    <form action="/admin/add-user" method="POST">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
      </div>

      <button type="submit">Add User</button>
    </form>
  </main>
</body>

</html>